body{
    background-color: lightgrey;
}

#rectangle{
    display: flex;
    height: 150px;
    background-color: black;
    border-radius: 50px;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 20px;
    
}
#question{
    color: white;
    font-family: monospace;
    font-size:30px;
    text-align: center;
    position: relative;
   top: 30px;
    
    
}

#sporgsmol{
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 30px;
    
}
.button1{
    
    background-color: gray;
    width: 170px;
    height: 170px;
    border-radius: 50px;
 
  
  
   
    
    
}

.button2{
    background-color: gray;
    width: 170px;
    height: 170px;
    border-radius:50px;
   
    
}


.svar{
    font-size:50px;
    
}


#demo

{
     display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 30px;
    font-size: 40px
    
    
    
}

.nedtelling {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 30px;
    font-size: 35px 
    
    
}
